<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reco.calendar.CalendarMapper">


	<select id="findCalsByUIdx" resultType="CalInfo" parameterType="int">
		SELECT u_Idx, cal_Idx, cal_Category, cal_Thumbnail
		FROM cal_info
		WHERE u_Idx = ${uIdx}
		ORDER BY cal_Idx ASC
	</select>



	<insert id="addCal"  parameterType="map">
		<selectKey resultType="int" keyProperty="calIdx" order="BEFORE">
			SELECT NVL(MAX(cal_Idx), 0)+1
			FROM cal_info
			WHERE u_Idx = ${uIdx}
		</selectKey>

		INSERT INTO cal_info (u_Idx, cal_Idx, cal_Category, cal_Thumbnail)
		values (${uIdx}, ${calIdx}, #{calCategory}, #{calThumbnail})
	</insert>

	<select id="CreateTable" parameterType="HashMap">
		${createCalPostSQL}
	</select>


	<update id="modifyCal" parameterType="HashMap">
	<!-- update cal_info
	set cal_Category=#{calCategory},cal_Thumbnail=#{calThumbnail}
	where u_Idx=${uIdx} and cal_Idx=${calIdx} -->

		update cal_info
		<set>
		cal_Category=#{calCategory},cal_Thumbnail=#{calThumbnail}
		</set>
		where u_Idx=${uIdx} and cal_Idx=${calIdx}
	</update>


	<!-- cal_info 컬럼삭제 -->
	<delete id="deleteCal" parameterType="int">
		delete from cal_info where u_Idx=${uIdx} and cal_Idx=${calIdx}
	</delete>

	<!-- cal_post 테이블 삭제 -->
	<select id="DropTable" parameterType="HashMap">
		${dropCalInfoSQL}
	</select>

    <select id = "findCalsByDate" parameterType = "map" resultType = "CalPost">
	   SELECT to_char(cal_Date, 'yyyy-fmmm-dd') calDate, cal_Main_Img, cal_Memo
	   FROM cal_post_${uIdx}_${calIdx}
	   WHERE to_char(cal_Date,'YYYY-MM') = #{calDate}
	   ORDER BY to_char(cal_Date,'YYYY-MM')  asc
    </select>


    <insert id="addCalPost"  parameterType="map">
		<selectKey resultType="int" keyProperty="calIdx" order="BEFORE">
			SELECT cal_Idx
			FROM cal_info
			WHERE u_Idx = ${uIdx} and cal_idx = ${calIdx}
		</selectKey>

		 INSERT INTO cal_post_${uIdx}_${calIdx}(cal_Main_Img, cal_Date, cal_Memo)
		 VALUES (#{calMainImg}, #{calDate}, #{calMemo})

	</insert>

	<update id="modifyCalPost" parameterType = "Hashmap">
	UPDATE cal_post_${uIdx}_${calIdx}
	<set>
	 cal_Memo=#{calMemo}, cal_Main_Img=#{calMainImg}
	</set>
	WHERE to_char(cal_Date, 'yyyy-mm-dd') = #{calDate}
	</update>

    <!-- 캘린더글 상세보기 -->
	<select id = "findByDate" parameterType = "map" resultType="CalPost">
	SELECT to_char(cal_Date, 'yyyy-mm-dd') calDate, cal_Main_Img, cal_Memo
    FROM cal_post_${uIdx}_${calIdx}
    WHERE TO_CHAR(cal_date, 'yyyy-fMMM-dd') = #{calDate}
	
	</select>

	<delete id = "removeCalPost" parameterType = "String">
	DELETE FROM cal_post_${uIdx}_${calIdx}
	WHERE cal_Date =#{calDate}
	</delete>



</mapper>
