<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reco.customer.CustomerMapper">
	<select id="findByEmail" 
			parameterType="string" 
			resultType="Customer">
		select u_idx,u_name,u_nickname,u_email,u_pwd,u_authcode,u_status from customer where u_email=#{uEmail}		
	</select>
	
	<insert id="add" 
			parameterType="Customer">
		INSERT INTO customer(u_idx,u_name,u_nickname,u_email,u_pwd,u_authcode,u_status) 
		VALUES (u_idx.nextval,#{uName},#{uNickName},#{uEmail},#{uPwd},1,1)
	</insert>
	
	<select id="findByNick" parameterType="string" resultType="Customer">
		select u_idx,u_name,u_nickname,u_email,u_pwd from customer where u_nickname=#{uNickName}
	</select>
	
	<update id="modifyStatus" parameterType="int">
		update customer set u_status = 0 where u_idx=#{uIdx}
	</update>
	<update id="restoreStatus" parameterType="int">
		update customer set u_status = 1 where u_idx=#{uIdx}
	</update>
	<update id="modifyPwd" parameterType="Customer">
		update customer set u_pwd=#{uPwd} where u_idx=#{uIdx}
	</update>
	
	<select id="findByNameAndRRN" parameterType="Customer" resultType="Customer">
		select u_idx,u_name,u_nickname,u_email,u_pwd,u_authcode,u_status 
		from customer where u_name=#{uName} and u_RRN=#{uRRN}
	</select>
	
	<delete id="findAndDeleteCustomerByPwd" parameterType="String">
		delete FROM customer where u_pwd=#{uPwd}
	</delete>
</mapper>

