@charset "UTF-8";
@import url("base.css");
@font-face {
    font-family: 'DesignHouse';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/designhouse/DesignHouseBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/designhouse/DesignHouseBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/designhouse/DesignHouseBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/designhouse/DesignHouseBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/designhouse/DesignHouseBold.ttf') format("truetype");
    font-display: swap;
}    

header{
   width:100%;
   font-family: 'DesignHouse';
   background-color:rgb(253, 205, 81); 
   border-bottom: 1px solid #e5e5e5;
   height: 110px;
}


 header>h1.logo{
 	font-size:40px;
	margin-top: 36px;
    width: 200px;
    /* height: 66px; */
    float:left;
    display: inline;
    margin-left: 45%;
}

header>h1>a{
	text-decoration:none;
}
  

  
header>nav{
    margin: 5px auto;
    padding-right:1%;
    float:right;
    font-weight: bolder;
    display: inline-block;
}


header>nav>ul{
    list-style-type: none;
    padding-left: 0px;
}

header>nav>ul>li{
    display: inline-block;
   /*  width:100px; */
    text-align: center;
}

header>nav>ul>li>img{
    width:45px;
    height:45px;
}

header>nav>ul>li>a{
    text-decoration: none;
    font-size: 20px;
    padding:5px;
}
  


  
  
 